.{
    padding: 0%;
    margin: 0%;
}
body{
    background: url(p2.jpeg) no-repeat ;
    background-size:  cover;
    text-align: center;
    font-family: sans-serif;
    font-style: inherit;
    font-size: 20px;
    
    
    
}

h1{
    text-align: center;
    font-size: 30px;

}

   
button{
    border-style: ridge;
    font-size: 50px;
    margin: 2;
    margin-left: 25%;
    margin-right: 25%;
    border-color: violet;
    border-radius: 5%;
    text-align: start;
    font-size: 40px;
    font-style: italic;
    font-family: sans-serif;
    background-color:rgb(211, 240, 179);
    border-width: 3px;
    width: 10cm;
    height: 7cm;

}